ul {
  margin-top: 10px;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #555;
}

html {
  font-family: 'Lato', sans-serif;
}

li {
  margin: 0;
}

.play {
  display:inline-block;
  margin:5px;
  opacity: .4;
} 

.pause {
  display:inline-block;
  margin:5px;
  opacity: .4;
} 

p:hover {
  cursor:pointer;
  opacity:0.8;
}
.button a {
  display: block;
  padding: 5px 10px;
  max-width: 133px;
  color: white;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  border: white 1px solid;
  margin-left: 15px;
  background-color: transparent;
  cursor: pointer;
}

.mic {
  position: absolute;
  left: 85px;
  top: 9.5px;
  white-space: nowrap;
}

.button {
  z-index: 10;
}

.button a:hover {
  color: #555;
  border: 1px solid #555;
}

#canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.fileinput {
  margin-left: 45%;
  margin-top: 20%;
}

.nav {
  position: relative;
  z-index: 2;
}

.sample a{
  margin-top: 10px;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.options {
  display: block;
  padding: 20px 20px;
  max-width: 133px;
  color: white;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
}

.options div {
  width: 130px;
  text-align: right;
  padding-right: 10px;
}
.options li {
  text-align: right;
  text-transform: lowercase;
  list-style: none;
  letter-spacing: 1.6px;
  font-size: 14px;
  padding: 5px 10px;
  border-top: 1px solid white;
}

.hiding {
  display:none;
}

.options a {
  line-height: 30px;
  margin-right: 12px;
}

.visualization a {
  display: block;
  font-size: 13px;
}

.visualization a:hover {
  color: white;
}

.controls {
  padding-top: 10px;
  margin-left: 10px;
  color: #555;
}

.contact {
  display:flex;
  justify-content: space-between;
  position: absolute;
  right: 250px;
  top: 15px;
}

.contact-item {
  width: 10%;
  color: white;
}

.contact-item:hover {
  color: #555;
}

.modal {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  font-family: 'Lato';
}
.about {
  position: absolute;
  left: 330px;
  top: 13px;
  letter-spacing: 3px;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: white;
}

.opening {
  border: 3px solid white;
  width: 25%;
  margin: 50px auto;
  padding: 25px;
  color: white;
  position: relative;
}

.opening .text{
  margin: 15px auto;
}

/* .logo h1 {
  margin: 0 auto;
  margin-left: 140px;
  padding-bottom: 10px;
} */

.opening li {
  display: inline-block;
  margin: 0 6px;
}

.opening .buttons {
  margin: 0 auto;
}

.opening a {
  margin-top: 30px;
  background-color:#555;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  display: block;
  border: 3px solid white;
}

.close {
  width: 93%;
  margin-left: 30px;
  cursor: pointer;
}

.close a {
  text-align: center;
}

.close:hover {
  color: darkslategray;
}

.closed {
  display: none;
}

.opening li.github {
  margin-left: 20px;
}

.opening li.personal {
  margin-left: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.icon {
  width:45px;
  height:45px;
  margin-right: 7px;
}
